.speech {
    font-size: 13px;
    //font-style: italic;
    color: blue;
    font-family: "Times New Roman";
}

.direction {
    font-size: 15px;
    //font-style: italic;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
}

.name {
    font-size: 15px;
    //font-style: italic;
    color: black;
    font-family: "Times New Roman";
}
h6.name {
    margin-block: auto;
}

.DANCINGMASTER {
    color:maroon;
}
.MUSICMASTER  {
    color:orange;
}
.PUPIL {
    color:teal
}
table {
    border: solid 3px CadetBlue;
    width: 35%;
    border-collapse: collapse;
    margin: 5px;
}

th, td {
    border: solid 1px;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #7f6faa;
}

h6.DANCINGMASTER:hover {
    border: 2px solid mediumvioletred;
    box-shadow: 2px 3px mediumvioletred;
}

h6.MUSICMASTER:hover {
    border: 2px solid mediumvioletred;
    box-shadow: 2px 3px mediumvioletred;
}

h6.PUPIL:hover {
    border: 2px solid mediumvioletred;
    box-shadow: 2px 3px mediumvioletred;
}